$black: #000;
$white: #fff;
$gray: #474747;
$light-gray: #bbb;

$primary500: #f04848;
$primary200: #fa6969;

$secondary500: #4c75c2;
$secondary300: #7590c2;
$secondary200: #a8b8d5;

$gray200: #d1d1d1;
$gray400: #adadad;
$gray700: #171616;
