.newsletter-form {
  h3 {
    @extend %sub-heading;
    text-align: center;
  }

  .hs_email > label {
    display: none;
    border: 0;
  }

  input {
    margin-bottom: $gutter;
    padding: .5rem 1.5rem;
    border-radius: 25px;

    &.invalid,
    &.error {
      margin-bottom: .5rem;
    }
  }

  input[type="email"] {
    width: 100%;
    max-width: 1000px;
    margin-top: 1rem;

    &.error {
      border: 2px solid $primary;
    }
  }

  input[type="submit"] {
    @extend %outline-button;
    width: 100%;
    max-width: 1000px;
  }

  .hs-error-msgs {
    color: $white;
    text-align: center;
  }
}
